#wrapper {
	width: 820px;
	margin: 0 auto;
}

header {
	padding-bottom: 20px;
	background-color: red;
	color: black;
}

main {
	padding-bottom: 20px;
	background-color: orange;
	color: grey;
}
footer {
	padding-bottom: 40px;
}
